.app {
  box-sizing: border-box;
  color: white;
  font-size: 15px;
  font-weight: normal;
}

.navbar {
  background-color: black;
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 1;
}

.nav-links {
  display: flex;
}

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li {
  margin-right: 8%;
}

.nav-buttons {
  display: flex;
  width: 16%;
}

.nav-buttons button {
  margin: 5% auto;
  border-color: transparent;
  outline: none;
  padding: 1% 3%;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.7rem;
}

.nav-buttons button:first-of-type {
  background-color: transparent;
  color: white;
}

main {
  margin-top: 5%;
}

header{
  font-size: 35px;
  font-weight: bold;
  text-transform: capitalize;
}

.mobile-section, .desktop-section {
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
}

.mobile-info-section, .desktop-info-section {
  padding: 5% 10%;
}

.image-section {
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-image-section {
  background-image: url('./assets/images/MobileBackground.png');
}

.desktop-image-section {
  background-image: url('./assets/images/DesktopBackground.png');
}

.mobile-image-section img {
  width: 40%;
}

.desktop-image-section img {
  width: 85%;
}

.info {
  margin: 8% auto;
  position: relative;
  right: 8%;
}

.info button {
  margin: 5% auto;
  border-color: transparent;
  outline: none;
  padding: 1% 3%;
  border-radius: 25px;
  font-weight: bold;
}

.info button:nth-of-type(2){
  margin-left: 20px;
}

.list-items {
  list-style: none;
}

.list-items li {
  display: grid;
  grid-template-columns: 5% 95%;
}

.list-items span:first-of-type {
  color: #ffb700;
  display: flex;
  align-items: center;
}

.list-items hr {  
  -webkit-transform:rotate(90deg);
  transform: rotate(90deg);
  background-color: #ffb700;
  width: 15em;
  height: 0;
  border-width: 0.1px;
  opacity: 0.4;
}